@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{    
    margin:0px 40px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container, .footer{
    background-color: #1F2937;
    color:white;
    margin:0px;
    flex-wrap: wrap;
}

.container{
    padding: 25px 200px 0px 200px;
}

ul{
    display: flex;
    list-style: none;
    gap:15px;
    padding:0px;
    margin:0px;
}

.logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8
}

.hero{
    padding: 7% 0;
    display:flex;
    justify-content: space-between;   
}

h1{
    font-size: 48px;
    font-weight: 900px;
    color:#F9FAF8;
}

.container a,p,.signup-btn,.signup-btn-cta{
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}

.hero-image{
    width:60%;
}

img{
    width:100%;
    border-radius: 5px;
}

.hero-content{
    width:40%;
    margin-right:5%;
}

.signup-btn, .signup-btn-cta{
    background-color: #3882F6;
    border:none;
    border-radius: 5px;
    padding:10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.info-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.info-box-container{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    gap:50px;
    flex-wrap: wrap;
}

.info-box{
    text-align: center;
}

.box-subtext{
    width:160px;
    font-size: 16px; 
    padding: 5px;  
}

.box{
    width:160px;
    height: 160px;
    border: solid 4px #3882F6;
    border-radius: 12px;
}

.quotation{
    font-size: 36px;
    font-weight: 10;
    color:#1F2937;
    text-align: justify;
    font-style: italic;
    margin:0px;
}

.quote-author{
    margin:0px 0px 0px auto;
    text-align: right;
    font-weight: 800;
    color:#1F2937;

}

.quote{
    background-color: #E5E7EB;
    padding:80px 260px;
}

.footer{
    padding: 50px;
    text-align: center;
    font-size: large;
}

.call-to-action-container{
    padding:80px 30px;
}

.call-to-action{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding:30px 120px; 
}

.call-to-action-text{
    padding-right: 80px;
}

.signup-btn-cta{
    margin-left: 80px;
    border: solid 3px white;
    /*padding:12px 50px;
    border-radius: 10px;
    
    background-color: transparent;*/
}